/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define LY_ALP 0
#define LY_SYS 1
#define LY_NUM 2
#define LY_SM1 3
#define SY_SM2 4


/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <300>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
                
                hl: homerow_layers {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_LAYERS";
                        #binding-cells = <2>;
                        tapping-term-ms = <220>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&sl>, <&kp>;
                };

                td: tapdance {
                        compatible = "zmk,behavior-hold-tap";
                        label = "TAPDANCE";
                        #binding-cells = <2>;
                        tapping-term-ms = <190>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
                                &none    &kp Y           &hm LCTRL C     &hm LALT L        &hm LGUI M      &kp K                    &kp Z    &hm RGUI F          &hm RALT U      &hm RCTRL COMMA    &kp BACKSPACE    &none
                                &none    &hl LY_NUM I    &hl LY_SM2 S    &hl LY_SM1 R      &hl LY_SYS T    &kp G                    &kp P    &hl LY_SYS N        &hl LY_SM1 E    &hl LY_SM2 A       &hl LY_NUM O     &none
                                &none    &kp Q           &kp V           &kp W             &kp D           &kp J                    &kp B    &kp H               &kp SLASH       &kp DOT            &kp X            &none
                                                                         &none             &kp SPACE       &kp LSHIFT               &none    &none               &none
                        >;
                };

                system_layer {
                        bindings = <
                                &none    &none           &kp ESC         &kp LC(LS(TAB))    &kp RC(TAB)     &none                    &none    &td LG(V) LG(C)    &kp UP           &none             &none              &none
                                &none    &kp TAB         &kp DEL         &none              &none           &none                    &none    &kp LEFT           &kp DOWN         &kp RIGHT         &kp RETURN         &none
                                &none    &none           &none           &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                                                         &none              &none           &none                    &none    &none              &none 
                        >;
                };

                number_layer {
                        bindings = <
                                &none    &none           &kp DOT         &kp N0             &kp N1          &none                    &none    &kp N2             &kp N3           &kp N4            &none              &none
                                &none    &kp MINUS       &kp PLUS        &kp N5             &kp N6          &none                    &none    &kp N7             &kp N8           &kp N9            &kp EQUAL          &none
                                &none    &none           &none           &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                                                         &none              &none           &none                    &none    &none              &none 
                        >;
                };

                sym1_layer {
                        bindings = <
                                &none    &none          &none            &kp LS(N3)         &kp DLLR        &none                    &none    &kp LS(COMMA)      &kp LS(DOT)      &kp CARET         &none              &none
                                &none    &kp GRAVE      &kp TILDE        &kp MINUS          &kp BSLH        &none                    &none    &kp LBKT           &kp RBKT         &kp PIPE          &kp SLASH          &none
                                &none    &none          &none            &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                                                         &none              &none           &none                    &none    &none              &none 
                        >;
                };

                sym2_layer {
                        bindings = <
                                &none    &none          &kp ATSN         &kp SQT            &kp DQT         &none                    &none    &kp LPRN           &kp RPRN         &kp SEMI          &none              &none
                                &none    &kp STAR       &kp PRCNT        &td QMARK EXCL     &kp UNDER       &none                    &none    &kp LBRC           &kp RBRC         &kp AMPS          &kp COLON          &none
                                &none    &none          &none            &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                                                         &none              &none           &none                    &none    &none              &none 
                        >;
                };

/*
                number_layer {
                        bindings = <
                                &none    &none          &none            &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                &none    &none          &none            &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                &none    &none          &none            &none              &none           &none                    &none    &none              &none            &none             &none              &none
                                                                         &none              &none           &none                    &none    &none              &none 
                        >;
                };
*/
        };
};
